<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="static/styles/estilos.css">
    <title>Document</title>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-primary">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">Navbar</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Features</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Pricing</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Dropdown link
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                      <li><a class="dropdown-item" href="#">Action</a></li>
                      <li><a class="dropdown-item" href="#">Another action</a></li>
                      <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
    </header>
    <main>
        <section>
            <div class="banner">
                <!--Formulario-->
                <div class="parqueadero">
                  <h1>Parqueo Bellavista</h1>
                </div>
                <div class="contenedor">
                  <div class="bienvenido">
                    <h1>Bienvenidos</h1>
                  </div>
                  <div class="imagenes">
                    <div class="entrada">
                      <a href="Ingreso"><img src="https://firebasestorage.googleapis.com/v0/b/parqueadero-9c616.appspot.com/o/vehiculoEntrada.png?alt=media&token=821b8359-82d6-48bf-b864-05e5da3f391f" alt=""></a>
                    </div>
                    <div class="salida">
                      <a href="Salida"><img src="https://firebasestorage.googleapis.com/v0/b/parqueadero-9c616.appspot.com/o/vehiculoSalida.png?alt=media&token=01484375-451d-42ad-950e-47f004c0a335" alt=""></a>
                    </div>
                  </div>
                  <div class="opciones">
                    <div class="txt-entrada">
                      <h1>Entrada</h1>
                    </div>
                    <div class="txt-salida">
                      <h1>Salida</h1>
                    </div>
                  </div>
                </div>
            </div>
        </section>
    </main>
    <footer>

    </footer>
    
    


    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>